<div id="add-form" class="form-horizontal" role="form" data-toggle="validator">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2" style="width: 15%;margin: 7px 0">选择会员:</label>
        <div class="col-xs-12 col-sm-8" style="width: 40%">
            <select id="c-member_id" class="form-control" name="row[member_id]" type="text">
                {volist name='lists' id='v'}
                <option value="{$v.id}">{$v.nickname}</option>
                {/volist}
            </select>
        </div>
    </div>
    <input type="hidden" value="{$id}" id="id"/>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <a type="submit" class="btn btn-success btn-embossed" onclick="submitResult()">{:__('OK')}</a>
        </div>
    </div>
</div>
<script>
    function submitResult() {
        $.ajax({
            type:"POST",
            url:"Balcony/member_login",
            dataType:"json",
            data:{
                member_id:$("#c-member_id").val(),
                id:$("#id").val(),
            },
            success:function(data){
                if (data == 1){
                    layer.alert("操作成功", {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        parent.location.reload();
                    });
                }
            }
        });
    }
</script>
