
    <a type="button" class="btn btn-info" onclick="open_window('添加推荐商品','{:url(\'/admin/\', \'\', \'\', true)}Goods/addRecommend?goods_id={$ids}')">添加</a>
    <hr>
    <table id="table" class="table table-striped table-bordered table-hover table-nowrap">
        <tr>
            <th>图片</th>
            <th>名称</th>
            <th>单价</th>
            <th>销量</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        {volist name='goods' id='v'}
        <tr>
            <td><image src="{$v.image}" style="width: 50px;height: 50px;"></image></td>
            <td>{$v.name}</td>
            <td>{$v.price}</td>
            <td>{$v.sales}</td>
            <td>{$v.createtime|date='Y-m-d',###}</td>
            <td>
                <a class="btn btn-xs btn-danger" onclick="del_goods('{$v.id}')">{:__('Delete')}</a>
            </td>
        </tr>
        {/volist}
    </table>
<script>
    function open_window(title,url) {
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.5,
            // maxmin: true, //开启最大化最小化按钮
            area: ['60%', '60%'],
            content: url
        });
    }

    function del_goods(id) {
        layer.confirm('操作后将不可恢复,请确认进行此操作？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                dataType:"json",
                data:{
                    id:id
                },
                method:"post",
                url:"goods/del_goods",
                success:function (data) {
                    if (data == 1){
                        layer.msg('已删除', {icon: 1});
                        location.reload();
                    }
                }
            });
        }, function(){
            layer.msg('已取消', {icon: 1});
        });
    }
</script>
